@model MVC.Models.tblemp

<h2 class="mt-4">Employee Details</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">Employee ID</dt>
                <dd class="col-sm-9">@Model.c_empid</dd>
                
                <dt class="col-sm-3">Employee Name</dt>
                <dd class="col-sm-9">@Model.c_empname</dd>
                
                <dt class="col-sm-3">Employee Gender</dt>
                <dd class="col-sm-9">@Model.c_gender</dd>
                
                <dt class="col-sm-3">Employee Shift</dt>
                <dd class="col-sm-9">@Model.c_shift</dd>

                <dt class="col-sm-3">Department ID</dt>
                <dd class="col-sm-9">@Model.c_depid</dd>

                <dt class="col-sm-3">Date of Birth</dt>
                <dd class="col-sm-9">@Model.c_dob</dd>
                
                <dt class="col-sm-3">Image</dt>
                <dd class="col-sm-9">
                    <img src="@Model.c_empimage" alt="Employee Image" class="img-fluid" style="max-width: 200px;" />
                </dd>
            </dl>
        </div>
    </div>
</div>
