@model List<tblemp>
@{
    ViewData["Title"] = "GetAll";
    
    int pageSize = 5;  // Set the number of records per page
    int currentPage;
if (!int.TryParse(Context.Request.Query["page"], out currentPage) || currentPage < 1)
{
    currentPage = 1;
}

   
}
<div class="d-flex justify-content-between align-items-center">
    @if (ViewBag.username != null)
    {
        <span>Welcome, @ViewBag.username!</span>
    }
    else
    {
        <span>Not logged in</span>
    }

    <a asp-controller="MVCUserAPI" asp-action="Login" class="btn btn-link">Logout</a>
</div>

<h2>Employee Details</h2>

<p>
    <a class="btn btn-primary" asp-action="Insert">Add New Employee</a>
</p>


<div class="table-responsive">
    
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Gender</th>
                <th>Date Of Birth</th>
                <th>Shift</th>
                <th>Department ID</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var employee in Model.Skip((currentPage - 1) * pageSize).Take(pageSize))
            {
                <tr>
                    <td>@employee.c_empid</td>
                    <td>@employee.c_empname</td>
                    <td>@employee.c_gender</td>
                    <td>@employee.c_dob</td>
                    <td>@employee.c_shift</td>
                    <td>@employee.c_depid</td>
                                   <td>
    <img src="~/images/@employee.c_empimage" alt="Employee Image" style="max-width: 100px; max-height: 100px;"/>
</td>

                    
                   
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= pageSize; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }
    </ul>
</nav>
